<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pollytronics.festivalradar" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainRadarActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".RadarService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".AboutRadarActivity"
            android:label="@string/title_activity_about_radar"
            android:launchMode="singleTop"
            android:parentActivityName=".MainRadarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pollytronics.festivalradar.MainRadarActivity" />
        </activity>
        <activity
            android:name=".SettingsRadarActivity"
            android:label="@string/title_activity_settings_radar"
            android:launchMode="singleTop"
            android:parentActivityName=".MainRadarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pollytronics.festivalradar.MainRadarActivity" />
        </activity>
        <activity
            android:name=".ManageContactsRadarActivity"
            android:label="@string/title_activity_manage_contacts_radar"
            android:parentActivityName=".MainRadarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pollytronics.festivalradar.MainRadarActivity" />
        </activity>
        <activity
            android:name=".DebugRadarActivity"
            android:label="@string/title_activity_debug_radar"
            android:parentActivityName=".MainRadarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pollytronics.festivalradar.MainRadarActivity" />
        </activity>
        <activity
            android:name=".AddContactByUsernameRadarActivity"
            android:label="@string/title_activity_add_contact_by_username"
            android:parentActivityName=".ManageContactsRadarActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pollytronics.festivalradar.ManageContactsRadarActivity" />
        </activity>
    </application>

</manifest>
