<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pollytronics.festivalradar" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/clique"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RadarActivity_Main"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".RadarService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".RadarActivity_About"
            android:label="@string/title_activity_about_radar"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RadarActivity_Main" />
        </activity>
        <activity
            android:name=".RadarActivity_Settings"
            android:label="@string/title_activity_settings_radar"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RadarActivity_Main" />
        </activity>
        <activity
            android:name=".Deprec_RadarActivity_ManageContacts"
            android:label="@string/title_activity_manage_contacts_radar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RadarActivity_Main" />
        </activity>
        <activity
            android:name=".RadarActivity_Debug"
            android:label="@string/title_activity_debug_radar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RadarActivity_Main" />
        </activity>
        <activity
            android:name=".Deprec_RadarActivity_AddContactByUsername"
            android:label="@string/title_activity_add_contact_by_username" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Deprec_RadarActivity_ManageContacts" />
        </activity>
        <activity
            android:name=".RadarActivity_MyViewPagerAct"
            android:label="@string/title_activity_radar_activity__my_view_pager" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pollytronics.festivalradar.RadarActivity_Main" />
        </activity>
        <activity
            android:name=".ViewPagerActivity_Groups"
            android:label="@string/title_activity_view_pager_activity__groups"
            android:parentActivityName=".RadarActivity_Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pollytronics.festivalradar.RadarActivity_Main" />
        </activity>
        <activity
            android:name=".ViewPagerActivity_Contacts"
            android:label="@string/title_activity_view_pager_activity__contacts"
            android:parentActivityName=".RadarActivity_Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pollytronics.festivalradar.RadarActivity_Main" />
        </activity>
    </application>

</manifest>
